<h1><%= @restaurant.name %></h1>
<h1><%= @restaurant.category %></h1>
<h4><%= @restaurant.address %></h4>
<h4><%= @restaurant.phone_number %></h4>

<ul><% @restaurant.reviews.each do |review| %>
    <li><%= review.rating %>
        <%= review.content %>
    </li>
    <% end %>
</ul>

<h4><%= link_to 'back to all restaurants', restaurants_path %></h4>
